language: php
php:
  - 5.3
  - 5.4

env:
  - SF2_VERSION=2.1
  - SF2_VERSION=dev-master

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar require symfony/framework-bundle:${SF2_VERSION}
  - php composer.phar install --dev

notifications:
  email:
    - lstrojny@php.net
