language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

env:
  - SF2_VERSION=2.2
  - SF2_VERSION=2.3
  - SF2_VERSION=2.4
  - SF2_VERSION=2.5

before_script:
  - composer require symfony/framework-bundle:${SF2_VERSION}
  - composer install
